.article {
 display: flex;
 align-items: center;
 position: fixed;
 top: 0;
 z-index: 1;
 color: black;
 background-color: rgb(0, 0, 0, 0.2);
 height: 100%;
 width: 100%;
 transition: 0.3s;
 transform: scale(0);
}

.article.show {
 visibility: visible;
 transform: scale(1);
}

section {
 position: relative;
 display: block;
 text-align: center;
 color: black;
 background-color: white;
 border-radius: 10px;
}

section p {
 font-size: 1.4rem;
 font-weight: lighter !important;
}

.success {
 background-color: green;
 border-radius: 10px 10px 0 0;
}

.modal-product-btn {
 color: blue;
 background-color: white;
 font-size: 1.2rem;
 font-weight: lighter;
 border: 0.1rem solid blue;
 border-radius: 10px;
 transition: all 0.4s ease-in-out;
}

.modal-product-btn:hover {
 color: white;
 background-color: blue;
 box-shadow: 0 0 0 4px rgb(0, 0, 255, 0.5);
}
.modal-cart-btn {
 text-transform: capitalize;
 color: orange;
 background-color: white;
 font-size: 1.2rem;
 font-weight: lighter;
 border: 0.1rem solid orange;
 border-radius: 10px;
 transition: all 0.4s ease-in-out;
}

.modal-cart-btn:hover {
 color: white;
 background-color: orange;
 box-shadow: 0 0 0 4px rgb(255, 165, 0, 0.5);
}

.modal-close-btn {
 position: absolute;
 top: -2rem;
 right: -1.6rem; 
 font-size: x-large;
 background-color: orangered;
 border: none;
 border-radius: 50%;
}